.App {
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
}

header {
  box-shadow: 2px 2px 4px 4px rgba(0,0,0,0.0);
  display: flex;
  height: auto;
  font-size: 22px;
  font-weight: 800;
  justify-content: space-between;
  padding: 20px 65px;
}

::placeholder {
  color: hsl(0, 0%, 52%);
  padding-left: 25px;
}

.pageContainer {
  padding: 0 65px;
}

.pageSearch {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.lnr-magnifier {
  color: hsl(0, 0%, 52%);
  padding: 10px;
  position: absolute;
}

.lnr-moon {
  margin-right: 8px;
}

.containerForCard {
  padding: 15px 0;
}

.gridForCard {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: space-around;
}

.countryCard {
  height: 370px;
  width: 20%;
}

.imageContainer {
  width: 100%;
}

.image {
  height: 200px;
  width: 100%;
}

.regionFilter {
  background-color: hsl(0, 0%, 100%);
  border: none;
  border-radius: 3px;
  box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.07);
  height: 45px;
  outline: none;
  padding: 12px;
  width: 190px;
}